@using DenchikSportsRu.Models.Page;
@model Clubs;


@{
    Layout = "_Layout";
}



<style>
    main {
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
    }

    .tables-container {
        display: flex;
        gap: 75px;
        justify-content: space-between;
    }

    .table-wrapper {
        flex: 1;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }


    tr {
        text-align: center;
        height: 40px;
    }

    th, td {
        padding: 8px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .leader-row {
        background-color: #e8f5e8;
    }

    .middle-row {
        background-color: #ffffff;
    }

    .team-name {
        text-align: left;
        font-weight: bold;
    }

    caption {
        caption-side: top;
        font-size: 1.2em;
        font-weight: 700;
        color: black;
        margin-bottom: 10px;
        text-align: center;
    }

    .table-west {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    .table-east {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

</style>
<main id="content" class="site-main post-43 page type-page status-publish hentry">
    <div class="page-content">
        <div data-elementor-type="wp-page" data-elementor-id="43" class="elementor elementor-43" data-elementor-post-type="page">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-df04e12 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="df04e12" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-65ee644" data-id="65ee644" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-09c7ee9 elementor-widget elementor-widget-jet-blog-smart-tiles" data-id="09c7ee9" data-element_type="widget" data-widget_type="jet-blog-smart-tiles.default">
                                <div class="elementor-widget-container">
                                    <div class="tables-container">
                                        <div class="table-wrapper">
                                            <table class="table-west">
                                                <caption>Запад</caption>
                                                <thead>
                                                    <tr>
                                                        <th>Место</th>
                                                        <th></th>
                                                        <th>Команда</th>
                                                        <th>В</th>
                                                        <th>ВО</th>
                                                        <th>ВБ</th>
                                                        <th>П</th>
                                                        <th>ПО</th>
                                                        <th>ПБ</th>
                                                        <th>Ш</th>
                                                        <th>Очки</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int position = 1;
                                                        foreach (var row in Model.List.OrderByDescending(x => x.points))
                                                        {
                                                            if (row.conference == "west" && row.league == "khl")
                                                            {
                                                                <tr>
                                                                    <td>@position</td>
                                                                    <td><img src="~/khl/@row.logo.@row.url" style="width: 30px; height: 30px; object-fit: contain; vertical-align: middle;" /></td>
                                                                    <td><strong>@row.name</strong></td>
                                                                    <td>@row.wins</td>
                                                                    <td>@row.otwins</td>
                                                                    <td>@row.wb</td>
                                                                    <td>@row.loses</td>
                                                                    <td>@row.otloses</td>
                                                                    <td>@row.lb</td>
                                                                    <td>@row.goals-@row.misses</td>
                                                                    <td>@row.points</td>
                                                                </tr>
                                                                position++;
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="table-wrapper">
                                            <table class="table-east">
                                                <caption>Восток</caption>
                                                <thead>
                                                    <tr>
                                                        <th>Место</th>
                                                        <th></th>
                                                        <th>Команда</th>
                                                        <th>В</th>
                                                        <th>ВО</th>
                                                        <th>ВБ</th>
                                                        <th>П</th>
                                                        <th>ПО</th>
                                                        <th>ПБ</th>
                                                        <th>Ш</th>
                                                        <th>Очки</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int position1 = 1;
                                                        foreach (var row in Model.List.OrderByDescending(x => x.points))
                                                        {
                                                            if (row.conference == "east" && row.league == "khl")
                                                            {
                                                                <tr>
                                                                    <td>@position1</td>
                                                                    <td><img src="~/khl/@row.logo.@row.url" style="width: 30px; height: 30px; object-fit: contain; vertical-align: middle;" /></td>
                                                                    <td><strong>@row.name</strong></td>
                                                                    <td>@row.wins</td>
                                                                    <td>@row.otwins</td>
                                                                    <td>@row.wb</td>
                                                                    <td>@row.loses</td>
                                                                    <td>@row.otloses</td>
                                                                    <td>@row.lb</td>
                                                                    <td>@row.goals-@row.misses</td>
                                                                    <td>@row.points</td>
                                                                </tr>
                                                                position1++;

                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>